<div class="work-experience-box">
	<h2>Work Experience</h2>
	<div class="employment-container">
		<div class="edit-section">
			<button>Edit</button>
			<button>Delete</button>
		</div>
		<h3>Job Title<em>, Employer</em></h3>
		<p>Start date - End date</p>
		<hr>
		<ul>
			<li>
				<p>- Description.</p>
			</li>
			<li>
				<p>- Description.</p>
			</li>
		</ul>
		<hr id="hr-close">
	</div>
	<div class="employment-container">
		<div class="edit-section">
			<button>Edit</button>
			<button>Delete</button>
		</div>
		<h3>Job Title<em>, Employer</em></h3>
		<p>Start date - End date</p>
		<hr>
		<ul>
			<li>
				<p>- Description.</p>
			</li>
			<li>
				<p>- Description.</p>
			</li>
		</ul>
		<hr id="hr-close">
	</div>
</div>