.profile
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	text-align: center
	#banner 
		margin-bottom: 1rem
		width: 100%
		max-height: 39vh
		object-fit: cover
	#avatar
		margin-top: -5rem
		width: 10rem
		height: 10rem
		border-radius: 50%
		border: 2px solid #fff
		object-fit: cover
	#btn-banner
		padding: 1rem
	#btn-avatar
		margin-left: -16rem
		padding: 1rem

#description
	margin-top: 1rem
	margin-bottom: .5rem
	max-width: 625px

.editor-box
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center