@use 'variables' as v
// RESETS
* 
	box-sizing: border-box
	margin: 0
	padding: 0
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

body 
	background-color: v.$dark
	color: v.$white
	font-family: v.$font
	font-size: 16px
	line-height: 1.5
	font-weight: 400
	text-align: left
	text-decoration: none
	text-transform: none
	text-overflow: ellipsis
	text-shadow: none
	text-indent: 0
	text-rendering: optimizeLegibility

li 
	list-style: none

// PRESETS
.border-orange-weak
	height: 1px
	background: v.$orange-gradient
	opacity: .5

.border-orange-strong 
	width: 100%
	height: 1px
	background: v.$orange-gradient
	opacity: 1
	margin: 0
	padding: 0
	border: 0
	vertical-align: baseline
